@using System.Text
@using Blazored.Diagrams.Services.Events
@implements IDisposable
<div class="@Class">
    @if (Content is not null)
    {
        @Content
    }
</div>
<NodeRenderer Nodes="Group.Nodes"></NodeRenderer>
<GroupRenderer Groups="Group.Groups"></GroupRenderer>
<PortRenderer Ports="Group.Ports"></PortRenderer>

@code {

    /// <summary>
    /// <see cref="DiagramService"/>
    /// </summary>
    [CascadingParameter]
    public IDiagramService DiagramService { get; set; } = null!;
    
    /// <summary>
    /// <see cref="Group"/>
    /// </summary>
    [Parameter]
    public required Group Group { get; set; }
    
    /// <summary>
    /// Optional content if people want to use the default component.
    /// </summary>
    [Parameter]
    public RenderFragment? Content { get; set; }
    
    /// <summary>
    /// CSS class that styles the component.
    /// Uses "default-group" available on <see cref="DefaultGroupComponent.razor.css"/> as default.
    /// </summary>
    [Parameter]
    public string Class { get; set; } = DefaultCssClass;
    
    /// <summary>
    /// Minimum width of the group when it has no nested nodes or groups.
    /// </summary>
    [Parameter] 
    public int MinWidth { get; set; }= 100;

    /// <summary>
    /// Minimum height of the group when it has no nested nodes or groups.
    /// </summary>
    [Parameter] 
    public int MinHeight { get; set; } = 100;
    
    private const string DefaultCssClass = "default-group";
    private readonly StringBuilder _builder = new();
    private IDisposable _subscription = null!;

    /// <inheritdoc />
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            _subscription = DiagramService.Events.SubscribeWhere<GroupSelectionChanged>(p => p.Model.Id == Group.Id, SetGroupCssClass);
        }

        SetGroupCssClass();
    }

    private void SetGroupCssClass(GroupSelectionChanged e)
    {
        SetGroupCssClass();
    }

    private void SetGroupCssClass()
    {
        _builder.Clear();
        if (Group.Nodes.Count == 0 && Group.Groups.Count == 0)
        {
            _builder.Append($"{Class} min-size");
            Group.SetSize(MinWidth, MinHeight);
        }
        else
        {
            _builder.Append(Class);
            if (Group.IsSelected)
            {
                _builder.Append(" selected");
            }
        }

        Class = _builder.ToString();
    }

    /// <inheritdoc />
    public void Dispose()
    {
        _subscription.Dispose();
    }

}