.default-node {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    min-width: 100px;
    min-height: 100px;
    background: whitesmoke;
}

.selected {
    background: #696969;
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.8))
    drop-shadow(0 0 8px rgba(255, 255, 255, 0.6));
    transition: filter 0.15s ease;
}

/* On mouse-over, add a deeper shadow */
.default-node:hover {
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.8))
    drop-shadow(0 0 8px rgba(255, 255, 255, 0.6));
    transition: filter 0.15s ease;
}