@using Blazored.Diagrams.Services.Events
@using System.Text
@implements IDisposable
<div class="@Class">
    @if (Content is not null)
    {
        @Content
    }
</div>
<PortRenderer Ports="Node.Ports"></PortRenderer>

@code {

    /// <summary>
    /// <see cref="Node"/>
    /// </summary>
    [Parameter]
    public required Node Node { get; set; }
    
    /// <summary>
    /// Optional content if people want to use the default component.
    /// </summary>
    [Parameter]
    public RenderFragment? Content { get; set; }
    
    /// <summary>
    /// CSS class that styles the component.
    /// Uses "default-node" css class available on <see cref="DefaultNodeComponent.razor.css"/> as default.
    /// </summary>
    [Parameter] public string Class { get; set; } = DefaultCssClass;

    /// <summary>
    /// <see cref="IDiagramService"/>
    /// </summary>
    [CascadingParameter]
    public IDiagramService DiagramService { get; set; } = null!;

    private const string DefaultCssClass = "default-node";
    private readonly StringBuilder _builder = new();
    private IDisposable _subscription = null!;

    /// <inheritdoc />
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            _subscription = DiagramService.Events.SubscribeWhere<NodeSelectionChangedEvent>(p => p.Model.Id == Node.Id, SetNodeCssClass);
        }
    }

    private void SetNodeCssClass(NodeSelectionChangedEvent e)
    {
        _builder.Clear();
        _builder.Append(Class);
        if (e.Model.IsSelected)
        {
            _builder.Append(" selected");
        }

        Class = _builder.ToString();
    }

    /// <inheritdoc />
    public void Dispose()
    {
        _subscription.Dispose();
    }

}