.default-link{
    width: 100%;
    height: 100%;
    overflow: visible;
}

.link-path {
    pointer-events: auto;
}

.link-path:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.8))
    drop-shadow(0 0 8px rgba(255, 255, 255, 0.6));
}

.link-path.glow {
    filter: drop-shadow(0 0 5px #c0c0c0);
}