@page "/group-events"
<div style="display:flex;flex-direction: row;height:100%">
    <MudContainer MaxWidth="MaxWidth.False" Style="height:100%">
        <MudExpansionPanel Text="Group Events" IsInitiallyExpanded="true">
            <EventCollectionComponent T="IGroup"></EventCollectionComponent>
        </MudExpansionPanel>
    </MudContainer>
</div>