@page "/link-events"
<div style="display:flex;flex-direction: row;height:100%">
    <MudContainer MaxWidth="MaxWidth.False" Style="height:100%">
        <MudExpansionPanel Text="Link Events" IsInitiallyExpanded="true">
            <EventCollectionComponent T="ILink"></EventCollectionComponent>
        </MudExpansionPanel>
    </MudContainer>
</div>