@page "/layer-events"
<div style="display:flex;flex-direction: row;height:100%">
    <MudContainer MaxWidth="MaxWidth.False" Style="height:100%">
        <MudExpansionPanel Text="Diagram Events" IsInitiallyExpanded="true">
            <EventCollectionComponent T="ILayer"></EventCollectionComponent>
        </MudExpansionPanel>
    </MudContainer>

</div>