@using Blazored.Diagrams.Services.Diagrams
@using Blazored.Diagrams.Services.Events
@using Blazored.Diagrams.Services.Virtualization
@inject IVirtualizationService VirtualizationService
@implements IDisposable
@if (_layer is not null && _layer.IsVisible)
{
    <div id="@(ContainerId)">
            @foreach (var node in VirtualizationService.Virtualize(DiagramService.Diagram, _layer.Nodes))
            {
                <NodeContainer Node="node"></NodeContainer>
            }

            @foreach (var group in VirtualizationService.Virtualize(DiagramService.Diagram, _layer.Groups))
            {
                <GroupContainer Group="group"></GroupContainer>
            }

            @foreach (var link in _layer.AllLinks)
            {
                <LinkContainer Link="link"></LinkContainer>
            }
    </div>
}

@code {

    [CascadingParameter] public required IDiagramService? DiagramService { get; set; }

    [Parameter]
    [EditorRequired]
    public required ILayer Layer
    {
        get => _layer;
        set
        {
            if (_layer != value)
            {
                _redrawSubscription?.Dispose();
                _layer = value;
                _redrawSubscription = DiagramService?.Events.SubscribeWhere<LayerRedrawEvent>(p => p.Model.Id == _layer.Id, Redraw);
                InvokeAsync(StateHasChanged);
            }
        }
    }

    
    /// <summary>
    /// ID of the node container
    /// </summary>
    public string ContainerId => $"layer-container-{_layer.Id}";
    
    /// <inheritdoc />
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _redrawSubscription = DiagramService?.Events.SubscribeWhere<LayerRedrawEvent>(p => p.Model.Id == _layer.Id, Redraw);
        }

        return base.OnAfterRenderAsync(firstRender);
    }

    private void Redraw(LayerRedrawEvent e)
    {
        StateHasChanged();
    }

    private IDisposable? _redrawSubscription;
    private ILayer _layer = null!;

    /// <inheritdoc />
    public void Dispose()
    {
        _redrawSubscription?.Dispose();
    }

}