@using Blazored.Diagrams.Services.Diagrams
@using Blazored.Diagrams.Services.Virtualization
@inject IVirtualizationService VirtualizationService
@implements IDisposable
@if (Layer is not null && Layer.IsVisible)
{
    <div id="@(ContainerId)">
            @foreach (var node in VirtualizationService.Virtualize(DiagramService.Diagram, Layer.Nodes))
            {
                <NodeContainer Node="node"></NodeContainer>
            }

            @foreach (var group in VirtualizationService.Virtualize(DiagramService.Diagram, Layer.Groups))
            {
                <GroupContainer Group="group"></GroupContainer>
            }

            @foreach (var link in Layer.AllLinks)
            {
                <LinkContainer Link="link"></LinkContainer>
            }
    </div>
}

@code {

    /// <summary>
    /// Cascading from <see cref="DiagramContainer"/>.
    /// </summary>
    [CascadingParameter] public required IDiagramService DiagramService { get; set; }

    /// <summary>
    /// Layer to be rendered.
    /// </summary>
    [Parameter]
    [EditorRequired]
    public required ILayer Layer { get; set; }

    
    /// <summary>
    /// ID of the node container
    /// </summary>
    public string ContainerId => $"layer-container-{Layer.Id}";
    
    /// <inheritdoc />
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _subscriptions =
            [
                DiagramService.Events.SubscribeWhere<LayerRedrawEvent>(p => p.Model.Id == Layer.Id, Redraw),
            ];
        }

        return base.OnAfterRenderAsync(firstRender);
    }

    private void Redraw(LayerRedrawEvent e)
    {
        StateHasChanged();
    }

    private List<IDisposable> _subscriptions = [];

    /// <inheritdoc />
    public void Dispose()
    {
        _subscriptions.DisposeAll();
    }

}