<MudSimpleTable Elevation="0" Style="overflow-x: auto;">
    <thead>
    <tr>
        <th>Events</th>
        <th>Description</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>OnKeyDown</td>
        <td>Event triggered when a keyboard key is down.</td>
        <td></td>
    </tr>
    <tr>
        <td>OnKeyUp</td>
        <td>Event triggered when a key is up.</td>
        <td></td>
    </tr>
    <tr>
        <td>void NotifyKeyDown(KeyboardEventArgs args);</td>
        <td>Triggers the <b>OnKeyDown</b> event.</td>
        <td></td>
    </tr>
    <tr>
        <td>void NotifyKeyUp(KeyboardEventArgs args);</td>
        <td>Triggers the <b>OnKeyUp</b> event.</td>
        <td></td>
    </tr>
    </tbody>
</MudSimpleTable>

@code {

}