<MudSimpleTable Elevation="0" Style="overflow-x: auto;">
    <thead>
    <tr>
        <th>Events</th>
        <th>Description</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>OnPointerDown</td>
        <td>Event triggered when the pointer is down on the container.</td>
        <td></td>
    </tr>
    <tr>
        <td>OnPointerUp</td>
        <td>Event triggered when the pointer is up on the container.</td>
        <td></td>
    </tr>
    <tr>
        <td>OnPointerMove</td>
        <td>Event triggered when the pointer moves within the container.</td>
        <td></td>
    </tr>
    <tr>
        <td>OnPointerEnter</td>
        <td>Event triggered when the pointer enters the container.</td>
        <td></td>
    </tr>
    <tr>
        <td>OnPointerLeave</td>
        <td>Event triggered when the pointer leaves the container.</td>
        <td></td>
    </tr>
    <tr>
        <td>OnWheel</td>
        <td>Event triggered when the wheel is scrolled in the container.</td>
        <td></td>
    </tr>
    <tr>
        <td>OnClick</td>
        <td>Event triggered when the container is clicked</td>
        <td></td>
    </tr>
    <tr>
        <td>OnDoubleClick</td>
        <td>Event triggered when the container is double-clicked.</td>
        <td></td>
    </tr>
    <tr>
        <td>void NotifyPointerDown(PointerEventArgs args)</td>
        <td>Triggers the <b>OnPointerDown</b> event.</td>
        <td></td>
    </tr>
    <tr>
        <td>void NotifyPointerUp(PointerEventArgs args)</td>
        <td>Triggers the <b>OnPointerUp event</b>.</td>
        <td></td>
    </tr>
    <tr>
        <td>void NotifyPointerMove(PointerEventArgs args)</td>
        <td>Triggers the <b>OnPointerMove</b> event.</td>
        <td></td>
    </tr>
    <tr>
        <td>void NotifyPointerEnter(PointerEventArgs args);</td>
        <td>Triggers the <b>OnPointerEnter</b> event.</td>
        <td></td>
    </tr>
    <tr>
        <td>void NotifyPointerLeave(PointerEventArgs args)</td>
        <td>Triggers the <b>OnPointerLeave</b> event.</td>
        <td></td>
    </tr>
    <tr>
        <td>void NotifyWheel(WheelEventArgs args)</td>
        <td>Triggers the <b>OnWheel</b> event.</td>
        <td></td>
    </tr>
    <tr>
        <td>void NotifyClick(MouseEventArgs args)</td>
        <td>Triggers the <b>OnClick</b> event.</td>
        <td></td>
    </tr>
    <tr>
        <td>void NotifyDoubleClick(MouseEventArgs args)</td>
        <td>Triggers the <b>OnDoubleClick</b> event.</td>
        <td></td>
    </tr>
    </tbody>
</MudSimpleTable>

@code {

}