<MudSimpleTable Elevation="0" Style="overflow-x: auto;">
    <thead>
    <tr>
        <th>Events</th>
        <th>Description</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>OnPositionChanged</td>
        <td>Event triggered when the model position changes.</td>
        <td></td>
    </tr>
    <tr>
        <td>OnBeforePositionChanged</td>
        <td>Notifies that the position was changed.</td>
        <td></td>
    </tr>
    <tr>
        <td>NotifyPositionChanged</td>
        <td>Event triggered when the pointer moves within the container.</td>
        <td></td>
    </tr>
    <tr>
        <td>NotifyBeforePositionChanged</td>
        <td>Notifies the current position before it changes.</td>
        <td></td>
    </tr>
    </tbody>
</MudSimpleTable>

@code {

}