<MudSimpleTable Elevation="0" Style="overflow-x: auto;">
    <thead>
    <tr>
        <th>Events</th>
        <th>Description</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>OnSelectionChanged</td>
        <td>Event triggered when the IsSelected flag changes</td>
        <td></td>
    </tr>
    <tr>
        <td>NotifySelectionChanged</td>
        <td>Notifies that the selection state has changed.</td>
        <td></td>
    </tr>
    </tbody>
</MudSimpleTable>

@code {

}