<MudSimpleTable Elevation="0" Style="overflow-x: auto;">
    <thead>
    <tr>
        <th>Events</th>
        <th>Description</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>OnSizeChanged</td>
        <td>Event triggered when size changes.</td>
        <td></td>
    </tr>
    <tr>
        <td>NotifySizeChanged</td>
        <td>Notifies that the size has changed.</td>
        <td></td>
    </tr>
    </tbody>
</MudSimpleTable>

@code {

}