<MudSimpleTable Elevation="0" Style="overflow-x: auto;">
    <thead>
    <tr>
        <th>Events</th>
        <th>Description</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>OnVisibilityChanged</td>
        <td>Event triggered when the <b>IVisible.IsVisible</b> flag is changed.</td>
        <td></td>
    </tr>
    <tr>
        <td>NotifyVisibilityChanged</td>
        <td>Notifies that the visibility has changed.</td>
        <td></td>
    </tr>
    </tbody>
</MudSimpleTable>

@code {

}