@page "/editor"
@using Blazored.Diagrams.Options.Behaviours
@implements IDisposable
<CascadingValue Value="Service">
    <MudToolBar Dense="true">
        <DiagramEditor OnDiagramLoaded="OnDiagramLoaded"></DiagramEditor>
        @* <MudTooltip Text="Add Layer"> *@
        @*     <MudIconButton Icon="@Icons.Material.Outlined.Add" Color="Color.Inherit" OnClick="AddLayer"/> *@
        @* </MudTooltip> *@
        @* <MudTooltip Text="Remove Layer"> *@
        @*     <MudIconButton Icon="@Icons.Material.Outlined.Delete" Color="Color.Inherit" OnClick="DeleteLayer" Disabled="SelectedItem is not ILayer"/> *@
        @* </MudTooltip> *@
        @* <MudDivider Vertical="true" DividerType="DividerType.FullWidth"></MudDivider> *@
        @* <MudSpacer></MudSpacer> *@
    </MudToolBar>
    <div style="display:flex;flex-direction:row;width:100%; height:100%">
        <div style="display:flex;flex-direction:column;height:100%;width:20%">

            @* <LayerDisplay Diagram="_diagram" OnSelectionChanged="SelectionChanged"></LayerDisplay> *@

            @if (selectedLink is not null)
            {
                <LinkEditor SelectedItem="@selectedLink"></LinkEditor>
            }
            @if (SelectedPort is not null)
            {
                <PortEditor Port="SelectedPort"></PortEditor>
            }
            @if (SelectedNode is not null)
            {
                <NodeEditor Node="SelectedNode"></NodeEditor>
            }
            @if (SelectedGroup is not null)
            {
                <GroupEditor Group="SelectedGroup"></GroupEditor>
            }
        </div>
        <DiagramContainer DiagramService="Service">
        </DiagramContainer>
    </div>
</CascadingValue>


@code {
    [Inject] public IDiagramService Service { get; set; }
    [Inject] public ISerializationService SerializationService { get; set; }
    IPort? SelectedPort;
    ILink? selectedLink;
    INode? SelectedNode;
    IGroup? SelectedGroup;
    private List<IDisposable> _subscriptions;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // _diagram.Behaviours.Add(new PortPopBehaviour(_diagram));
            GroupWithNodesAndPorts();
            Service.Behaviours.GetBehaviourOptions<SelectBehaviourOptions>()!.MultiSelectEnabled = true;
            _subscriptions =
            [
                Service.Events.SubscribeTo<PortClickedEvent>(OnPortClicked),
                Service.Events.SubscribeTo<LinkClickedEvent>(OnLinkClicked),
                Service.Events.SubscribeTo<NodeClickedEvent>(OnNodeClicked),
                Service.Events.SubscribeTo<GroupClickedEvent>(OnGroupClicked),
            ];
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private void OnNodeClicked(NodeClickedEvent e)
    {
        SelectedPort = null;
        selectedLink = null;
        SelectedGroup = null;
        SelectedNode = e.Model;
        StateHasChanged();
    }

    private void OnLinkClicked(LinkClickedEvent e)
    {
        selectedLink = e.Model;
        SelectedPort = null;
        SelectedNode = null;
        SelectedGroup = null;
        StateHasChanged();
    }

    private void OnPortClicked(PortClickedEvent e)
    {
        SelectedPort = e.Model;
        selectedLink = null;
        SelectedNode = null;
        SelectedGroup = null;
        StateHasChanged();
    }

    private void GroupWithNodesAndPorts()
    {
        // Todo user builders.
        var diagramNode1 = new Node();
        diagramNode1.Ports.Add(new Port());
        var diagramNode2 = new Node();
        Service.Add.Node(diagramNode1);
        Service.Add.Node(diagramNode2);

        var group1 = new Group();
        var group2 = new Group();
        group2.Padding = 50;
        var nestedGroup = new Group();
        nestedGroup.Padding = 25;
        var node1 = new Node();
        node1.SetPosition(100, 100);
        var node2 = new Node();
        node2.SetPosition(200, 200);
        var node3 = new Node();
        node3.SetPosition(300, 300);
        var node4 = new Node();
        node4.SetPosition(400, 400);
        var node5 = new Node();
        node5.SetPosition(500, 600);
        var node6 = new Node();
        node6.SetPosition(800, 800);
        var port1 = new Port();
        port1.Alignment = PortAlignment.Right;
        var port2 = new Port();
        port2.Alignment = PortAlignment.Left;
        var port3 = new Port();
        port3.Alignment = PortAlignment.Right;
        port3.Justification = PortJustification.Center;

        var port4 = new Port();
        port4.Alignment = PortAlignment.Left;
        port4.Justification = PortJustification.Center;

        Service.Add.Group(group1);
        Service.Add.Group(group2);
        group1.Nodes.Add(node1);
        group1.Nodes.Add(node2);
        group2.Nodes.Add(node3);
        group2.Nodes.Add(node4);

        nestedGroup.Nodes.Add(node5);
        nestedGroup.Nodes.Add(node6);
        group2.Groups.Add(nestedGroup);

        node1.Ports.Add(port1);
        node2.Ports.Add(port2);

        group1.Ports.Add(port3);
        group2.Ports.Add(port4);
        StateHasChanged();
    }

    public void Dispose()
    {
        _subscriptions.DisposeAll();
    }

    private void OnGroupClicked(GroupClickedEvent e)
    {
        SelectedPort = null;
        selectedLink = null;
        SelectedNode = null;
        SelectedGroup = e.Model;
        StateHasChanged();
    }

    private void OnDiagramLoaded(string obj)
    {
        _subscriptions.DisposeAll();
        //TODO: fix this
        // Service.CreateFromJson<Diagram>(obj);
        _subscriptions =
        [
            Service.Events.SubscribeTo<PortClickedEvent>(OnPortClicked),
            Service.Events.SubscribeTo<LinkClickedEvent>(OnLinkClicked),
            Service.Events.SubscribeTo<NodeClickedEvent>(OnNodeClicked),
            Service.Events.SubscribeTo<GroupClickedEvent>(OnGroupClicked),
        ];
        StateHasChanged();
    }

}