@if (IsVisible)
{
    <h6>Logging</h6>
    <div class="form-check mb-3">
        <input type="checkbox"
               class="form-check-input"
               id="isEnabledFlag"
               @bind="Options.IsEnabled" />
        <label class="form-check-label" for="isEnabledFlag">
            <span class="font-weight-bold">Enabled</span>
        </label>
    </div>

    <div class="form-check">
        <input type="checkbox"
               class="form-check-input"
               id="logPointerEvents"
               @bind="Options.LogPointerEvents" />
        <label class="form-check-label" for="logPointerEvents">
            Log Pointer Events
        </label>
    </div>

    <hr /> 
}