@using Blazor.Flows.Services.Diagrams
@using Blazor.Flows.Services.Registry
@implements IDisposable
@if (Group is not null && Group.IsVisible)
{
    <div style="@($"left:{Group.PositionX}px;top:{Group.PositionY}px;position:absolute;width:{Group.Width}px;height:{Group.Height}px;z-index:{Group.ZIndex}")"
         @onpointerleave="ctx => DiagramService.Events.Publish(new GroupPointerLeaveEvent(Group, ctx))"
         @onpointerdown="ctx => DiagramService.Events.Publish(new GroupPointerDownEvent(Group, ctx))"
         @onpointerenter="ctx => DiagramService.Events.Publish(new GroupPointerEnterEvent(Group, ctx))"
         @onpointermove="ctx => DiagramService.Events.Publish(new GroupPointerMoveEvent(Group, ctx))"
         @onpointerup="ctx => DiagramService.Events.Publish(new GroupPointerUpEvent(Group, ctx))"
         @onwheel="ctx => DiagramService.Events.Publish(new GroupWheelEvent(Group, ctx))"
         @onclick="ctx => DiagramService.Events.Publish(new GroupClickedEvent(Group, ctx))"
         @ondblclick="ctx => DiagramService.Events.Publish(new GroupDoubleClickedEvent(Group, ctx))"
         @onpointerdown:stopPropagation
         id="@(ContainerId)">
        <DynamicComponent Type="@(ComponentRegistry.GetComponentType(Group.GetType()))" Parameters="Parameters"></DynamicComponent>
    </div>
}

@code {
    
    [Inject]
    IComponentRegistry ComponentRegistry { get; init; } = null!;
    
    /// <summary>
    ///     Cascading diagram from <see cref="DiagramContainer"/>
    /// </summary>
    [CascadingParameter]
    public required IDiagramService DiagramService { get; set; }

    /// <summary>
    ///     Group instance to be presented in the UI.
    /// </summary>
    [Parameter]
    [EditorRequired]
    public required IGroup Group { get; set; }

    private void Redraw(GroupRedrawEvent e)
    {
        StateHasChanged();
    }

    private Dictionary<string, object> Parameters => new() { { nameof(Group), Group } };
    private List<IDisposable> _subscriptions = [];

    /// <summary>
    /// ID of the group container
    /// </summary>
    public string ContainerId => $"group-container-{Group.Id}";

    void IDisposable.Dispose()
    {
        _subscriptions.DisposeAll();
    }

    /// <inheritdoc />
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _subscriptions =
            [
                DiagramService.Events.SubscribeWhere<GroupRedrawEvent>(p => p.Model.Id == Group.Id, Redraw),
            ];
        }

        return base.OnAfterRenderAsync(firstRender);
    }
}