@using Blazor.Flows.Services.Diagrams
@using Blazor.Flows.Services.Observers
@using Blazor.Flows.Services.Registry
@implements IAsyncDisposable
@if (Link is { IsVisible: true, SourcePort: not null })
{
    <CascadingValue Value=@(this) TValue="LinkContainer" >
        <div style="@ContainerStyle" id="@(ContainerId)" @ref="_componentRef">
            <DynamicComponent Type=@(ComponentRegistry.GetComponentType(Link.GetType())) Parameters=@Parameters></DynamicComponent>
        </div>
    </CascadingValue>
}
@code {


    [Inject] private IComponentRegistry ComponentRegistry { get; set; } = null!;

    /// <summary>
    ///     Cascading diagram from <see cref="DiagramContainer"/>
    /// </summary>
    [CascadingParameter]
    public required IDiagramService DiagramService { get; set; }

    [Inject] private IResizeObserverService ResizeObserverService { get; set; } = null!;

    /// <summary>
    /// <see cref="IJSRuntime"/>
    /// </summary>
    [Inject]
    public required IJSRuntime Js { get; set; }

    /// <summary>
    ///     Link instance to be presented in the UI.
    /// </summary>
    [Parameter]
    public required ILink Link { get; set; }

    private ElementReference _componentRef;
    private List<IDisposable> _subscriptions = [];
    private Dictionary<string, object> Parameters => new() { { nameof(Link), Link } };

    /// <summary>
    /// ID of the link container
    /// </summary>
    public string ContainerId => $"link-container-{Link.Id}";


    /// <summary>
    /// Current container style.
    /// </summary>
    public string ContainerStyle => $"position:absolute;left:{PositionX}px;top:{PositionY}px;width:{Width}px;height:{Height}px;pointer-events:none;z-index:{Link.ZIndex}";


    /// <summary>
    /// X coordinate of the target position.
    /// </summary>
    public int TargetX => Link.TargetPort is not null ? DiagramService.GetCenterCoordinates(Link.TargetPort).CenterX : Link.TargetPositionX;

    /// <summary>
    /// Y coordinate of the end of the link.
    /// </summary>
    public int TargetY => Link.TargetPort is not null ? DiagramService.GetCenterCoordinates(Link.TargetPort).CenterY : Link.TargetPositionY;


    /// <summary>
    /// X coordinate of the start of the link
    /// </summary>
    public int PositionX => Math.Min(DiagramService.GetCenterCoordinates(Link.SourcePort).CenterX, TargetX);

    /// <summary>
    ///  Y coordinate of the start of the link
    /// </summary>
    public int PositionY => Math.Min(DiagramService.GetCenterCoordinates(Link.SourcePort).CenterY, TargetY);

    private int Width => Math.Clamp(Math.Abs(DiagramService.GetCenterCoordinates(Link.SourcePort).CenterX - TargetX),1,int.MaxValue);

    private int Height => Math.Clamp(Math.Abs(DiagramService.GetCenterCoordinates(Link.SourcePort).CenterY - TargetY),1,int.MaxValue);

    /// <inheritdoc />
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _subscriptions =
            [
                    DiagramService.Events
                            .SubscribeWhere<LinkRedrawEvent>(p => p.Model.Id == Link.Id, Redraw),
            ];
            await ResizeObserverService.ObserveAsync(ContainerId, OnSizeChanged);
            var size = await Js.GetBoundingClientRect(_componentRef);
            Link.SetSize((int)size.Width, (int)size.Height);
        }

        await base.OnAfterRenderAsync(firstRender);
    }


    private void Redraw(LinkRedrawEvent e)
    {
        StateHasChanged();
    }

    private void OnSizeChanged(ResizeObserverEntry obj)
    {
        Link.SetSize((int)obj.Width, (int)obj.Height);
    }

    /// <inheritdoc />
    public async ValueTask DisposeAsync()
    {
        _subscriptions.DisposeAll();
        await ResizeObserverService.DisposeAsync();
    }

}