@using Blazor.Flows.Services.Observers
@using Blazor.Flows.Services.Registry
@using Blazor.Flows.Services.Diagrams
@implements IAsyncDisposable;
@if (Port is not null && Port.IsVisible)
{
    <div style="@($"left:{Port.PositionX}px;top:{Port.PositionY}px;position:absolute;z-index:{Port.ZIndex}")"
         @onpointerleave="ctx => DiagramService.Events.Publish(new PortPointerLeaveEvent(Port, ctx))"
         @onpointerdown="ctx => DiagramService.Events.Publish(new PortPointerDownEvent(Port, ctx))"
         @onpointerenter="ctx => DiagramService.Events.Publish(new PortPointerEnterEvent(Port, ctx))"
         @onpointermove="ctx => DiagramService.Events.Publish(new PortPointerMoveEvent(Port, ctx))"
         @onpointerup="ctx => DiagramService.Events.Publish(new PortPointerUpEvent(Port, ctx))"
         @onwheel="ctx => DiagramService.Events.Publish(new PortWheelEvent(Port, ctx))"
         @onclick="ctx => DiagramService.Events.Publish(new PortClickedEvent(Port, ctx))"
         @ondblclick="ctx => DiagramService.Events.Publish(new PortDoubleClickedEvent(Port, ctx))"
         @onpointerdown:stopPropagation
         @ref="_componentRef" id="@(ContainerId)">
        <DynamicComponent Type="@(ComponentRegistry.GetComponentType(Port.GetType()))" Parameters="@(Parameters)"></DynamicComponent>
    </div>
}

@code {

    private Dictionary<string, object> Parameters => new() { { nameof(Port), Port } };
    private ElementReference _componentRef;
    private List<IDisposable> _subscriptions = [];

    [Inject] IComponentRegistry ComponentRegistry { get; init; } = null!;

    [Inject] private IJSRuntime Js { get; set; } = null!;

    [Inject] private IResizeObserverService ResizeObserverService { get; set; } = null!;

    /// <summary>
    ///     Cascading diagram from <see cref="DiagramContainer"/>
    /// </summary>
    [CascadingParameter]
    public required IDiagramService DiagramService { get; set; }

    /// <summary>
    ///     Port instance to be rendered in the UI.
    /// </summary>
    [Parameter]
    [EditorRequired]
    public required IPort Port { get; set; }

    /// <summary>
    /// ID of the port container.
    /// </summary>
    public string ContainerId => $"port-container-{Port.Id}";

    private void Redraw(IEvent e)
    {
        StateHasChanged();
    }

    /// <inheritdoc />
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _subscriptions =
            [
                DiagramService.Events.SubscribeWhere<PortRedrawEvent>(p => p.Model.Id == Port.Id, Redraw),
            ];

            await ResizeObserverService.ObserveAsync(ContainerId, OnSizeChanged);
            var bounds = await Js.GetBoundingClientRect(_componentRef);
            Port.SetSize((int)bounds.Width, (int)bounds.Height);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private void OnSizeChanged(ResizeObserverEntry obj)
    {
        Port.SetSize((int)obj.Width, (int)obj.Height);
    }

    /// <inheritdoc />
    public async ValueTask DisposeAsync()
    {
        _subscriptions.DisposeAll();
        await ResizeObserverService.UnobserveAsync(ContainerId);
    }

}