@page "/CalculatorExample"
@using Blazored.Diagrams.Events
@using Blazored.Diagrams.Sandbox.Pages.Examples.CalculatorExample.Behaviours
@using Blazored.Diagrams.Sandbox.Pages.Examples.CalculatorExample.Nodes

<MudToolBar >
    <MudButton Icon="@Icons.Material.Filled.Numbers" Variant="Variant.Filled" OnClick="AddNumber">Add a Number Node</MudButton>
    <MudButton Icon="@Icons.Material.Filled.Calculate" Variant="Variant.Filled" OnClick="AddOperator">Add an Operator Node</MudButton>
</MudToolBar>
<div style="display:flex;flex-direction:row;width:100%; height:100%">
    <DiagramContainer DiagramService="Service"></DiagramContainer>
</div>

@code {
    [Inject] public IDiagramService Service { get; set; }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Service.Behaviours.RegisterBehaviour(new CalculatorBehaviour(Service));
        }
        return base.OnAfterRenderAsync(firstRender);
    }
    private void AddNumber(MouseEventArgs obj)
    {
        var node = new NumberNode();
        node.SetPosition(200, 200 * Service.Diagram.AllNodes.Count);
        Service.Add.Node(node);
    }

    private void AddOperator(MouseEventArgs obj)
    {
        var node = new Nodes.OperatorNode();
        node.SetPosition(400, 200 * Service.Diagram.AllNodes.Count);
        Service.Add.Node(node);
    }
    
    private void OnDiagramLoaded(Diagram obj)
    {
        //Todo:Add diagram to service
        // _diagram = obj;
        Service.Events.Publish(new DiagramRedrawEvent(Service.Diagram));
        StateHasChanged();
    }

}