@page "/CalculatorExample"

<MudToolBar>
    <MudButton Icon="@Icons.Material.Filled.Numbers" Variant="Variant.Filled" OnClick="AddNumber">Add a Number Node</MudButton>
    <MudButton Icon="@Icons.Material.Filled.Calculate" Variant="Variant.Filled" OnClick="AddOperator">Add an Operator Node</MudButton>
    <MudButton Icon="@Icons.Material.Filled.Receipt" Variant="Variant.Filled" OnClick="AddResult">Add a Result Node</MudButton>
</MudToolBar>
<div style="display:flex;flex-direction:row;width:100%; height:100%">
    <DiagramContainer DiagramService="Service">
        <SaveButton></SaveButton>
        <LoadButton OnDiagramLoaded="OnDiagramLoaded"></LoadButton>
    </DiagramContainer>
</div>

@code {
    [Inject] public IDiagramServiceProvider Provider { get; set; }
    private IDiagramService Service;

    protected override Task OnInitializedAsync()
    {
        Service = Provider.GetDiagramService(new Diagram());
        return base.OnInitializedAsync();
    }

    private void AddNumber(MouseEventArgs obj)
    {
        var node = new NumberNode.NumberNode();
        node.SetPosition(200, 200 * Service.Diagram.AllNodes.Count);
        Service.Add.Node(node);
    }

    private void AddOperator(MouseEventArgs obj)
    {
        var node = new OperatorNode.OperatorNode();
        node.SetPosition(400, 200 * Service.Diagram.AllNodes.Count);
        Service.Add.Node(node);
    }

    private void AddResult(MouseEventArgs obj)
    {
        var node = new ResultNode.ResultNode();
        node.SetPosition(600, 200 * Service.Diagram.AllNodes.Count);
        Service.Add.Node(node);
    }

    private void OnDiagramLoaded(Diagram obj)
    {
        //Todo:Add diagram to service
        // _diagram = obj;
        Service.Events.Publish(new DiagramRedrawEvent(Service.Diagram));
        StateHasChanged();
    }

}