@page "/port-events"
<div style="display:flex;flex-direction: row;height:100%">
    <MudContainer MaxWidth="MaxWidth.False" Style="height:100%">
        <MudExpansionPanel Text="Port Events" IsInitiallyExpanded="true">
            <EventCollectionComponent T="IPort"></EventCollectionComponent>
        </MudExpansionPanel>
    </MudContainer>
</div>