@page "/node-events"
<div style="display:flex;flex-direction: row;height:100%">
    <MudContainer MaxWidth="MaxWidth.False" Style="height:100%">
        <MudExpansionPanel Text="Node Events" IsInitiallyExpanded="true">
            <EventCollectionComponent T="INode"></EventCollectionComponent>
        </MudExpansionPanel>
    </MudContainer>
</div>